// Office Panel

//----------------------------//
body[id^="page-office"]
{
    // Main Body Content
    #office-content-body {

        background: $blue-color;
    }

    #office-settings-sidebar-card,
    #office-calendar-sidebar-card,
    #office-settings-rep-visits-sidebar-card,
    #office-messges-sidebar-card,
    #office-reps-database-sidebar-card
    {
        @include media-breakpoint-up(md)
        {
            max-width: rem(250);
        }
    }

    // Breadcrumbs
    .md-breadcrumbs {

        .breadcrumb {
            background: $blue-color;

            .breadcrumb-item {

                color: $white;

                .active {
                    color: $light-blue-color;
                }
            }
        }
    }
}