.page-user-account{
    .left-panel{
        padding: 20px;
        background: #1bacdb;
        color: #fff;
        .profile-image{
            width: 150px;
            border-radius: 50%;
        }
    }
    .right-panel{
        padding: 20px;
    }
}